%flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  %Font {
    font-family: "Concert One", cursive;
    font-size: 20px;
  }
  
  %body {
    background-color: #f7efca;
  }
  